{{ define "main" }}
<div class="lc-splash">

    <header>
        <h1 id="name" class="h-card">
            <a href="{{ .Site.BaseURL }}" rel="me" class="p-name p-url">Ludovic Chabant</a>
        </h1>
    </header>
    {{ .Content }}
    <div class="wrapper odd">
        <div class="container">
            <div class="row">
                <section id="articles" class="col-sm-6">
                    <div class="splash_box">
                        <h2>Latest Articles</h2>
                        <p>I post infrequently on <a href="/blog">The Stochastic Game</a>, my personal blog. Here are
                        the most recent entries:</p>
                        {{ range ( first 7 ( where ( where .Site.Pages "Type" "in" .Site.Params.mainSections ) "Title" "!=" "" ).ByDate.Reverse ) }}
                          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                        <p>Read <a href="/blog">more</a>...<p>
                    </div>
                </section>
                <section id="toots" class="col-sm-6">
                    <div class="splash_box">
                        <h2>Latest Microblogging</h2>
                        {{ range ( first 3 ( where ( where .Site.Pages "Type" "in" .Site.Params.mainSections ) "Title" "eq" "" ).ByDate.Reverse ) }}
                        {{ partial "splash_toot.html" . }}
                        {{ end }}
                        <p>Read <a href="/blog">more</a>...<p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}
